body {

	padding: 2%;


	font-size:14px;
	color:#666;
	background:url('bg.jpg') #f2f2f2;
	font-family:Arial, Helvetica, sans-serif;
}

#blanket {
background-color:#111;
opacity: 0.65;
filter:alpha(opacity=65);
position:absolute;
z-index: 9001;
top:0px;
left:0px;
width:100%;
}
#popUpDiv {
position:absolute;
background-color:#eeeeee;
width:300px;
height:300px;
z-index: 9002;
}

#container
{
	margin: 0 auto;
	width: 100%;
	
background:url('bg.jpg') #f2f2f2;
}

#header
{
	
	padding: 5px;
height = "20px";
}

#cover_ad
{
	
	width= "100%";
	
	
}



#header h1 { margin: 0; }


#content-container2
{
	float: left;
	width: 100%;
	background:url('bg.jpg') #f2f2f2 repeat-y 80% 0;
}

#section-navigation
{
	float: left;
	width: 16%;
	padding: 20px 0;
	
margin: 2% 2% 0 0;
	

	
}


#section-navigation1
{
	float: left;
	padding: 20px 0;
	
margin: 2% 2% 0 0;
	display: inline;
background: #ccc;
	height: 200px;
}


#section-navigation2
{
	float: left;
	padding: 20px 0;
	
margin: 2% 2% 0 0;
	display: inline;
background: #ccc;
	height: 200px;
}

#section-navigation ul
{
	margin: 0;
	padding: 0;
}

#section-navigation ul li
{
	margin: 0 0 1em;
	padding: 0;
	list-style-type: none;
}

#content
{
	float: left;
	width: 56%;
	padding: 20px 0;
	margin: 0 0 0 2%;
	
		
}

#cover
{
	
	padding:12px;


	width= "100%";
	
background-color:#fcfcfc;
border:1px solid white;
	color:#888;
	margin-bottom:25px;

-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;

	-moz-box-shadow:2px 2px 0 #c2c2c2;
	-webkit-box-shadow:2px 2px 0 #c2c2c2;
	box-shadow:2px 2px 0 #c2c2c2;
	
}



.bl {background: url(bl.gif) 0 100% no-repeat #e68200; width: 20em}
.br {background: url(br.gif) 100% 100% no-repeat}
.tl {background: url(tl.gif) 0 0 no-repeat}
.tr {background: url(tr.gif) 100% 0 no-repeat; padding:10px}
.clear {font-size: 1px; height: 1px}


    #rateStatus{float:left; clear:both; width:100%; height:20px;}
    #rateMe{float:left; clear:both; width:100%; height:auto; padding:0px; margin:0px;}
    #rateMe li{float:left;list-style:none;}
    #rateMe li a:hover,
    #rateMe .on{background:url(filled_star.gif) no-repeat;}
    #rateMe a{float:left;background:url(unfilled_star.gif) no-repeat;width:12px; height:12px;}
    #ratingSaved{display:none;}
    .saved{color:red; }

.rating_bar {
  width: 55px;
  background: url(unfilled_star.gif) 0 0 repeat-x;
}

.rating_bar div {
  height: 12px;
  background: url(filled_star.gif) 0 0 repeat-x;
}


#content h2 { margin: 0; }

#aside
{
	float: right;
	width: 16%;
	padding: 20px 0;
	margin: 2% 2% 0 0;
	display: inline;
	
	height: 200px;
}


#aside h3 { margin: 0; }

#footer
{
	clear: both;
	
	text-align: right;
	padding: 20px;
	height: 1%;
}