#header {
border:solid thin gray;
text-align:center;
font-size:x-large;
font-weight:bold;
margin:5px;
}
 
#left-col {
border:solid thin gray;
margin:5px;
width=150px;
float:left;
}
 
#right-col {
border:solid thin gray;
margin:5px;
width=150px;
float:right;
}
 
#centre-col {
border:solid thin gray;
margin:10px 160px 5px 160px;
min-height:400px;
}
 
#footer {
text-align=center;
border-top:dashed thin gray;
margin:5px;
font-style:italic;
}
 
#clear {
clear:both;
}



#footer {
text-align=center;
border-top:dashed thin gray;
margin:5px;
font-style:italic;
}
 
#clear {
clear:both;
}
/*div.cover
{
 // border-bottom: 1px solid #999;
 background:#EAFCCF;
}*/