#header {
    padding:10px;
    //background:#fdd;
}
#content-1 {
    float:left;
   // width:220px;
   //width:460px;
width:55%;
    padding:10px;
  //  background:#bfb;
}
#content-2-1 {
    //float:left;
    float:right;
    //width:460px;
  //  width:220px;
width:20%;
    padding:10px;
  //  background:#ddf;
}
#content-2-2 {
    float:right;
   // width:220px;
width:20%;
    padding:10px;
  //  background:#dff;
}
#footer {
    clear:both;
    padding:10px;
  //  background:#ff9;
}

//div.cover
//{
 // border-bottom: 1px solid #999;
// background:#EAFCCF;
//}

