#cover
{
	
	padding:12px;


	width= "100%";
	
background-color:#fcfcfc;
border:1px solid white;
	color:#888;
	margin-bottom:25px;

-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;

	-moz-box-shadow:2px 2px 0 #c2c2c2;
	-webkit-box-shadow:2px 2px 0 #c2c2c2;
	box-shadow:2px 2px 0 #c2c2c2;

font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
        margin: 15px;
	//margin: 45px;
	//width: 480px;
width:740px;
	text-align: left;
	border-collapse: collapse;
	background: url('patternb.png');
	
}


#cover thead tr
{
	background: url('patternb-head.png');
}
#cover th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	border-bottom: 1px solid #fff;
	color: #039;
}
#cover td
{
	padding: 8px; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
#cover tbody tr:hover td
{
	color: #339;
	background: #cdcdee;
}






.cover1
{
	
	padding:12px;


	width= "100%";
	
background-color:#fcfcfc;
border:1px solid white;
	color:#888;
	margin-bottom:25px;

-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;

	-moz-box-shadow:2px 2px 0 #c2c2c2;
	-webkit-box-shadow:2px 2px 0 #c2c2c2;
	box-shadow:2px 2px 0 #c2c2c2;

font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
        margin: 15px;
	//margin: 45px;
	//width: 480px;
width:740px;
	text-align: left;
	border-collapse: collapse;
	background: url('patternb.png');
	
}


.cover1 thead tr
{
	background: url('patternb-head.png');
}
.cover1 th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	border-bottom: 1px solid #fff;
	color: #039;
}
.cover1 td
{
	padding: 8px; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
.cover1 tbody tr:hover td
{
	color: #339;
	background: #cdcdee;
}